body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#svg {
    position: fixed;
    inset: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#nodes {
    position: fixed;
    inset: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#tools {
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0px;
    z-index: 3;
}

#save {
    width: 100vw;
    height: 40px;
    inset: 0px;
    font-size: 20px;
    z-index: 4;
}